.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  width: 300px;
  background-color: #436ab2;
  padding: 12px;
  height: 330px;
  text-decoration: none;
}

.user-container img {
  width: 170px;
  height: 140px;
  border-radius: 50%;
}

.content-container {
  display: flex;
  margin-top: 20;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  text-align: center;
  margin-top: auto;
  padding-bottom: 50px;
}
