.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

button {
  padding: 10px;
  border: solid 1px #436ab2;
  background: #436ab2;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: auto;
  color: #fff;
  justify-content: center;
}

.pagination button {
  cursor: pointer;
}

.pagination svg {
  width: 15px;
  height: 15px;
}

.pagination button:nth-child(1) svg:nth-child(1) {
  transform: rotate(180deg);
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}

section form input[type="text"] {
  opacity: 0.7; /* Initial opacity */
  transition: opacity 0.3s ease-in-out; /* Animation properties */
}

section form input[type="text"]:focus {
  opacity: 1; /* Opacity on focus */
}

section form button.primary {
  transform: scale(1); /* Initial scale */
  transition: transform 0.2s ease-in-out; /* Animation properties */
}

section form button.primary:hover {
  transform: scale(1.1); /* Scale on hover */
}

.results app-user {
  opacity: 0; /* Initial opacity (hidden) */
  transition: opacity 0.5s ease-in-out; /* Animation properties */
}

.results app-user:nth-child(odd) { /* Animate odd-numbered elements */
  animation: slideInLeft 0.5s ease-in-out forwards; /* Animation name and properties */
}

.results app-user:nth-child(even) { /* Animate even-numbered elements */
  animation: slideInRight 0.5s ease-in-out forwards; /* Animation name and properties */
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px); /* Slide from left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* No transformation */
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px); /* Slide from right */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* No transformation */
  }
}

nav button {
  transform: scale(1); /* Initial scale */
  transition: transform 0.1s ease-in-out; /* Animation properties */
}

nav button:active { /* Style for active button (pressed state) */
  transform: scale(0.9); /* Shrink slightly on click */
}

header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.brand-logo {
  width: 150px;
}
